<div class="jumbotron header" style="background-image: url('<%= image %>')">
  <div class="container">
    <h1 class="name"><%= heading %></h1>
    <h2 class="title"><%= subheading %></h2>
  </div>
</div>
