---
image: images/canyon-5.jpg
heading: Sheila Vaughn, Ph. D.
subheading: Psychologist
---

<main role="main">
  <div class="container">
    <div class="row breathing-room">
      <div class="col-md-5">
        <h2>My Philosophy</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Summus dolor plures dies manere non potest? Si longus, levis; Nosti, credo, illud: Nemo pius est, qui pietatem-; Tu vero, inquam, ducas licet, si sequetur; Itaque dicunt nec dubitant: mihi sic usus est, tibi ut opus est facto, fac. Quae cum essent dicta, discessimus.</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">More</a></p> -->
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-5">
        <h2>Contact</h2>
        <ul class='contact-list'>
          <li>Tel. (505) 629-3034</li>
          <li>Email. <a href="mailto:vaughn.sj@gmail.com">vaughn.sj@gmail.com</li></a>
          <li>Based in Santa Fe, New Mexico </li>
        </ul>
      </div>
      <!-- <div class="col-md-6">
        <h2>Therapy</h2>
        <p>Working with couples in all stages of their relationship. Helping individuals who are struggling in their relationships. </p>
        <p><a class="btn btn-secondary" href="#" role="button">More</a></p>
      </div>
      <div class="col-md-6">
        <h2>Coaching</h2>
        <p>Sometimes people need guidance on managing custody situations, relationship termination, to produce the healthiest outcome.</p>
        <p><a class="btn btn-secondary" href="#" role="button">More</a></p>
      </div> -->
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <h3 class="title"> There is a theory which states that if ever anyone
        discovers exactly what the Universe is for and why it is here, it will
        instantly disappear and be replaced by something even more bizarre and
        inexplicable. There is another theory which states that this has
        already happened.</h3>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row breathing-room">
        <div class="col-md-4">
          <h2>Services</h2>
          <ul class='contact-list'>
            <li>Individual Therapy</li>
            <li>Couples Therapy</li>
            <li>Adolescent Therapy</li>
            <li>Divorce Coaching</li>
        </ul>
          <p><a class="btn btn-secondary" href="#" role="button">More</a></p>
        </div>
        <div class="col-md-4">
          <h2>Bio</h2>
          <p>There are a few things that are worth doing to get us started. Tell me your name.</p>
          <p><a class="btn btn-secondary" href="#" role="button">More</a></p>
        </div>
        <div class="col-md-4">
          <h2>Getting Started</h2>
          <p>There are a few things that are worth doing to get us started. Tell me your name.</p>
          <p><a class="btn btn-secondary" href="#" role="button">More</a></p>
        </div>
      </div>
    </div> <!-- /container -->

  </main>

  <footer class="container">
    <p>Sheila J. Vaughn, Ph.D. | 505.629.3034 | vaughn.sj@gmail.com</p>
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="./js/vendor/popper.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
